<br><br>
<a href="{{ url_for('main.dashboard') }}" class="btn btn-secondary">⬅️ Back to Dashboard</a>
<br><br>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Vulnerability Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in alerts %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ alert.vuln_name }}</td>
            <td>{{ alert.description }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        ⋮
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ alert.link }}" target="_blank">🔗 View</a></li>
                        <li><a class="dropdown-item" href="#">🛡 Takedown</a></li>
                        <li><a class="dropdown-item disabled" href="#">🚧 Upcoming Features</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
